
<div id="nav">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" routerLink='/profile' href="/profile"> <i class="material-icons">home</i> GitSearch</a>
        <div class="nav-items">
            <a class="navbar-brand" routerLink='/profile' href="/profile"> <i class="material-icons">people</i> profile</a>
            <a routerLink='/about' routerLinkActive='' class="navbar-brand"> <i class="material-icons">info</i>
                about</a>
        </div>
    </nav>
</div>